In [126]:
import pandas as pd

In [127]:
df = pd.read_csv("people.csv")

In [109]:
df

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.37,0.52,2,159,3,0,1,0,sales,low
4,0.41,0.50,2,153,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.11,0.85,7,275,4,0,1,0,support,medium
14995,0.99,0.83,4,274,2,0,0,0,sales,low
14996,0.72,0.72,4,175,4,0,0,0,technical,low
14997,0.24,0.91,5,177,5,0,0,0,sales,low
14998,0.77,0.83,6,271,3,0,0,0,support,low

In [110]:
df.isnull().sum()

satisfactoryLevel        0
lastEvaluation           0
numberOfProjects         0
avgMonthlyHours          0
timeSpent.company        0
workAccident             0
left                     0
promotionInLast5years    0
dept                     0
salary                   0
dtype: int64

In [111]:
df.duplicated().sum()

np.int64(3008)

In [112]:
df.drop_duplicates()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.37,0.52,2,159,3,0,1,0,sales,low
4,0.41,0.50,2,153,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14992,0.30,0.88,5,245,4,0,0,0,hr,low
14995,0.99,0.83,4,274,2,0,0,0,sales,low
14996,0.72,0.72,4,175,4,0,0,0,technical,low
14997,0.24,0.91,5,177,5,0,0,0,sales,low
14998,0.77,0.83,6,271,3,0,0,0,support,low

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfactoryLevel      14999 non-null  float64
 1   lastEvaluation         14999 non-null  float64
 2   numberOfProjects       14999 non-null  int64
 3   avgMonthlyHours        14999 non-null  int64
 4   timeSpent.company      14999 non-null  int64
 5   workAccident           14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotionInLast5years  14999 non-null  int64
 8   dept                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [114]:
df.describe()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [115]:
df.columns

Index(['satisfactoryLevel', 'lastEvaluation', 'numberOfProjects',
       'avgMonthlyHours', 'timeSpent.company', 'workAccident', 'left',
       'promotionInLast5years', 'dept', 'salary'],
      dtype='object')

In [116]:
df.to_csv("correct_people.csv")

In [ ]:
df

In [128]:
highest_salary = df.groupby("salary")["dept"].max()

In [129]:
satisfaction_low = df.groupby("satisfactoryLevel")["dept"].min()

In [130]:
satisfaction_high = df.groupby("satisfactoryLevel")["dept"].max()

In [131]:
low_salary = df.groupby("dept")["salary"]

In [132]:
dept_project = df.groupby("dept")["numberOfProjects"]

In [133]:
dept_last_ev = df.groupby("lastEvaluation")["dept"]

In [135]:
dept_wise_left = df.groupby("dept")["left"]

In [136]:
print("highest salary", highest_salary)
print("satisfacation level low", satisfaction_low)
print("satisfaction level high", satisfaction_high)
print("lower salary", low_salary)
print("dept wise projects", dept_project)
print("department wise last evalution",dept_last_ev)
print("department wise left", dept_wise_left)

highest salary salary
high      technical
low       technical
medium    technical
Name: dept, dtype: object
satisfacation level low satisfactoryLevel
0.09       IT
0.10       IT
0.11       IT
0.12       IT
0.13    RandD
        ...
0.96       IT
0.97       IT
0.98       IT
0.99       IT
1.00       IT
Name: dept, Length: 92, dtype: object
satisfaction level high satisfactoryLevel
0.09    technical
0.10    technical
0.11    technical
0.12    technical
0.13    technical
          ...
0.96    technical
0.97    technical
0.98    technical
0.99    technical
1.00    technical
Name: dept, Length: 92, dtype: object
lower salary <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A8BC86B4D0>
dept wise projects <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A8BC86B7D0>
department wise last evalution <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A8BC86A750>
department wise left <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A8BCA80050>

In [137]:
df = df.to_csv("people1.csv")